{% extends "base.html" %}

{% block main %}

<h2>Add New Property</h2>

<form action="{{ url_for('property') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.name.label (class='headings') }}
    {{ form.name (class='type') }}
    {{ form.description.label (class='headings') }}
    {{ form.description (class='type') }}
    <div class='section1'>
        <div class='break1'>
            {{ form.nobed.label (class='headings') }}
            {{ form.nobed (class='type', placeholder='3') }}
        </div>
        <div class='break2'>
            {{ form.nobath.label (class='headings') }}
            {{ form.nobath (class='type', placeholder='2') }}
        </div>
    </div>
    
    <div class='section2'>
        <div class='break3'>
            {{ form.price.label (class='headings') }}
            {{ form.price (class='type', placeholder='15,000,000') }}
        </div>
        <div class='break4'>
            {{ form.type.label (class='headings') }}
            {{ form.type (class='type2') }}
        </div>
    </div>
    
    {{ form.location.label (class='headings') }}
    {{ form.location (class='type3', placeholder='10 Waterloo Rd') }}
    {{ form.photo.label (class='headings') }}
    {{ form.photo (class='type4') }}
    <button type="submit" name="submit" class="btn btn-primary">Add Property</button>
</form>

{% endblock %}